html, body
{
	color: white;
	font: 11px/16px "trebuchet ms", arial, helvetica, sans;
	background: #3a200a url(bg.gif) repeat-y center top;
	margin: 0;
	padding: 0;
}

p
{
	font: 11px/16px "trebuchet ms", arial, helvetica, sans;
	text-align: justify;
	letter-spacing: 1px;
	margin: 0 0 0;
	padding: 0 22px 15px;
}

a
{
	color: #59365f;
	text-decoration: none;
	background-color: #ffae00;
}

a:hover
{
	color: #feffff;
	text-decoration: underline;
}

acronym
{
	color: #ffae00;
	text-transform: uppercase;
	cursor: help;
}

#footer
{
	padding: 20px 0 60px 22px;
}

#container
{
	display: block;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: 770px;
	background-color: #D2BF9F;
}

#lselect
{
	padding-bottom: 30px;
	position: relative;
}

#larchives, #lresources
{
	margin-top: 26px;
	padding-bottom: 15px;
}


#pageHeader
{
	background: url(top.jpg) no-repeat 0 0;
	margin: 0;
	padding: 0;
	height: 318px;
	position: relative;
	border-bottom: 8px solid #000;
}
h3
{
	margin: 0;
	padding: 0;
}

h1, h2 { }

#preamble h3
{
	margin: 0;
	padding: 20px;
	width: 370px;
	height: 20px;
}

#explanation h3
{
	margin: 0;
	padding: 20px;
	width: 370px;
	height: 20px;
}

#participation h3
{
	margin: 0;
	padding: 20px;
	width: 370px;
	height: 20px;
}

#benefits h3
{
	margin: 0;
	padding: 20px;
	width: 370px;
	height: 20px;
}

#preamble, #supportingText
{
	background-color: #B69E86;
	text-align: left;
	position: static;
	width: 550px;
	margin-left: 220px;
}

#linkList
{
	position: absolute;
	top: 366px;
	left: 0px;
	width: 229px;
	overflow: hidden;
}

#linkList2
{
	text-align: left;
	position: relative;
	left: 38px;
	width: 191px;
}

#linkList h3
{
	margin: 0;
	width: 229px;
	height: 30px;
}

#linkList h3.archives
{
	right: 38px;
}

#linkList h3.select span
{
	color: #feffff;
	font-size: 12px;
	font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif;
	text-transform: uppercase;
	text-indent: 0;
	letter-spacing: 1px;
	display: block;
	padding-top: 40px;
	padding-left: 70px;
}

#linkList h3.archives span, #linkList h3.resources span { }

#linkList ul
{
	margin: 0;
	padding: 0;
}

#linkList li
{
	font-size: 11px;
	line-height: 11px;
	list-style-type: none;
	display: block;
	margin: 0 0 0 14px;
	padding: 0 0 0 20px;
	height: auto;
}

#linkList li a
{
	color: #feffff;
	font-size: 11px;
	font-weight: bold;
	line-height: 15px;
	text-decoration: none;
	background: transparent;
	display: block;
	padding: 9px 0 0 0;
	width: auto;
}

#linkList li a:hover
{
	color: #3A200A;
	text-decoration: underline;
}

#linkList li a.c:link, #linkList li a.c:visited
{
	color: #ffae00;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
	display: inline;
}

#linkList li a.c:hover
{
	color: #feffff;
	text-decoration: underline;
}

#linkList #larchives li, #linkList #lresources li
{
	list-style-type: none;
	display: block;
	margin-left: 14px;
	padding-left: 20px;
	height: 25px;
}

#linkList #larchives li a, #linkList #lresources li a
{
	color: #3A200A;
	padding-top: 5px;
	padding-bottom: 3px;
}

#linkList #larchives li a:hover, #linkList #lresources li a:hover { color: #feffff; }
